
html, body {
    margin: 0;
    padding: 0;
    color: #222;
}

body {
    font-family: 'Arbutus Slab', Georgia, serif;
    font-size: 1em;
    text-align: center;
}

.document {
    text-align: left;
    margin: 0 auto;
    width: 700px;
    background: url('../images/header-left.png') left top no-repeat;
}

a {
    color: #366993;
}

a:hover, a:focus {
    text-decoration: none;
}

strong {
    color: #366993;
}

h1, h2, .lead {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0.2em 0 0.5em 0;
    background: url('../images/header-right.png') right top no-repeat;
}

h2 {
    font-size: 2em;
    margin: 1.2em 0 0.8em 0;
    position: relative;
    z-index: 2000;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.list, ul.list li {
    line-height: 1.8em;
}

ul.list li {
    margin-left: 2em;
    position: relative;
}

ul.list li:before {
    content: '•';
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: middle;
    position: absolute;
    left: -1em;
    top: 0;
    color: #ffd33a;
}

.lead {
    font-size: 1.4em;
    margin: 1em 0 5em 0;
}

.note {
    color: #666;
}

p.note {
    text-align: center;
}

.note a {
    color: #666;
}

.map {
    background: url('../images/map.png') center no-repeat;
    height: 400px;
    position: relative;
    margin: -50px 0 80px 0;
}

.map li {
    display: block;
    background: #fff; background: rgba(255, 255, 255, 0.7);
    border: 1px #366993 dotted;
    padding: 0.2em 1em 0.3em 1em;
    position: absolute;
    line-height: 1.8em;
}

.map h3, .map p {
    margin: 0.3em 0 0.1em 0;
}

.map p a {
    color: #666;
}

.map .date {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.map .venue {
    display: block;
    color: #222;
}

.map .sep {
    display: none;
}

.prague { right: 457px; top: 100px; }
.brno { left: 380px; top: 120px; }
.bratislava { right: 305px; top: 280px; }

.map li:after {
    content: ' ';
    display: block;
    background: #ffd33a;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: absolute;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.prague:after { right: -15px; top: 30px; }
.brno:after { left: -15px; top: 85px; }
.bratislava:after { right: -15px; top: 25px; }

.icons {
    text-align: center;
    margin: 2em 0 3em 0;
}

.icons li {
    display: inline-block;
    vertical-align: top;
    line-height: 1em;
    margin: 0 1em 1em 0;

    /* For IE 7 */
    zoom: 1;
    *display: inline;
}

.icons a {
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    padding-top: 55px;
}

.icons .email a { background-image: url('../images/icon-email.png'); }
.icons .facebook a { background-image: url('../images/icon-facebook.png'); }
.icons .twitter a { background-image: url('../images/icon-twitter.png'); }
.icons .vimeo a { background-image: url('../images/icon-vimeo.png'); }
.icons .irc a { background-image: url('../images/icon-irc.png'); }

.pyvec {
    margin: 0;
    width: 230px;
    float: right;
    text-align: right;
    font-size: 0.9em;
    position: relative;
    z-index: 1000;
}

.pyvec a {
    color: #666;
}

.pyvec img {
    display: block;
    margin-left: auto;
}

.sources {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

.sources h3 {
    margin: 1em 0 0.3em 0;
}

.sources .coding {
    padding-top: 120px;
    background: url('../images/coding.png') center 5px no-repeat;
}

.sources .reading {
    padding-top: 140px;
    background: url('../images/reading.png') center top no-repeat;
}

.companies ul {
    text-align: center;
}

.companies li {
    font-size: 1.3em;
    display: inline;
    margin: 0 0.5em;
}

.footer, .footer a {
    color: #888;
}

.footer {
    margin-top: 6em;
    padding-bottom: 4em;
    padding-right: 160px;
    background: url('../images/footer.png') right 1em no-repeat;
}

.footer p, .footer h2 {
    margin: 0 0 0.5em 0;
    text-align: left;
}

@media screen and (max-width: 720px) {
    .document {
        width: auto;
        padding: 0 1em;
    }

    .document, h1 {
        background: none;
    }

    .map {
        background: none;
        margin: 0;
        height: auto;
    }

    .map li {
        position: static;
        width: 15em;
        margin: 1em auto;
    }

    .map li:after {
        content: none;
    }

    .sources {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    .pyvec {
        width: auto;
        float: none;
        text-align: center;
        margin: 1em 0 3em 0;
    }

    .pyvec img {
        display: block;
        margin: 0 auto;
    }

    .footer {
        padding-right: 0;
        background: none;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 0.8em;
    }

    h1 img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 250px) {
    body {
        font-size: 0.7em;
    }

    h1 img {
        width: 150px;
        height: 150px;
    }
}
