
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arbutus Slab', Georgia, serif;
    font-size: 1em;
    text-align: center;
}

.document {
    text-align: left;
    margin: 0 auto;
    width: 700px;
}

h1, h2, .lead {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0.2em 0 0.5em 0;
}

h2 {
    font-size: 2em;
    margin: 0.5em 0 1.5em 0;
}

.lead {
    font-size: 1.4em;
    margin: 1em 0 4em 0;
}

strong {
    color: #366993;
}
