
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arbutus Slab', Georgia, serif;
    font-size: 1em;
    text-align: center;
}

.document {
    text-align: left;
    margin: 0 auto;
    width: 700px;
    background: url('./images/header-left.png') left top no-repeat;
}

a {
    color: #366993;
}

a:hover, a:focus {
    text-decoration: none;
}

h1, h2, .lead {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0.2em 0 0.5em 0;
    background: url('./images/header-right.png') right top no-repeat;
}

h2 {
    font-size: 2em;
    margin: 0.5em 0 1.5em 0;
}

.lead {
    font-size: 1.4em;
    margin: 1em 0 4em 0;
}

.map, .map ul, .map li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.map {
    background: url('./images/map.png') center no-repeat;
    height: 400px;
    position: relative;
    margin: -50px 0 90px 0;
}

.map li {
    display: block;
    background: #fff; background: rgba(255, 255, 255, 0.7);
    border: 1px #366993 dotted;
    padding: 0.2em 1em 0.3em 1em;
    position: absolute;
    line-height: 1.8em;
}

.map h3, .map p {
    margin: 0.3em 0 0.1em 0;
}

.map p a {
    color: #666;
}

.map .date {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.map .place {
    display: block;
}

.map .sep {
    display: none;
}

.prague { right: 457px; top: 100px; }
.brno { left: 380px; top: 110px; }
.bratislava { right: 305px; top: 280px; }

.map li:after {
    content: ' ';
    display: block;
    background: #ffd33a;
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.prague:after { right: -15px; top: 30px; }
.brno:after { left: -15px; top: 95px; }
.bratislava:after { right: -15px; top: 25px; }

strong {
    color: #366993;
}
