include LICENSE
include *.md
include setup.cfg
recursive-include pythoncz *.py
recursive-include pythoncz *.graphql
recursive-include pythoncz/templates *
recursive-include pythoncz/static *
recursive-include pythoncz_tests *.py
global-exclude __pycache__
global-exclude *.py[co]
