[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m pytest ./tests --cov=pythoncz --flake8 --tb=native"
serve = "python runserver.py serve"
build = "python runserver.py freeze"
deploy = "python runserver.py deploy --no-freeze --push"

[packages]
elsa = "==0.1.6"
flask = "==1.1.2"
frozen-flask = "==0.15"
requests = "==2.25.1"
czech-sort = "==1.0.0"
pyyaml = "==5.4.1"
python-slugify = "==5.0.0"
ics = "==0.4"
arrow = "==0.4.2"
lxml = "*"
cssselect = "*"
cachelib = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
responses = "*"
pytest-flake8 = "*"

[requires]
python_version = "3.7"
