<a name="diskuse"><a name="discussions">
<a name="komunikace"><a name="communication">

<ul class="communication">
    <li class="communication-item">
        <a href="https://groups.google.com/group/django-cs/">
            <span class="communication-item-icon"><i class="fa fa-envelope"></i></span>
            <span class="communication-item-caption">
                {% if lang == 'cs' %}E-mailová skupina{% else %}Mailgroup{% endif %} django-cs
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="http://www.py.cz/mailman/listinfo/python">
            <span class="communication-item-icon"><i class="fa fa-envelope"></i></span>
            <span class="communication-item-caption">
                {% if lang == 'cs' %}E-mailová skupina na{% else %}Mailgroup at{% endif %} py.cz
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="https://www.facebook.com/groups/pyonieri/">
            <span class="communication-item-icon"><i class="fa fa-facebook-official"></i></span>
            <span class="communication-item-caption">
                {% if lang == 'cs' %}Skupina Pyonýři{% else %}Group Pyoneers{% endif %}
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="https://twitter.com/naPyvo">
            <span class="communication-item-icon"><i class="fa fa-twitter"></i></span>
            <span class="communication-item-caption">
                {% if lang == 'cs' %}Srazy Pyvo{% else %}Pyvo Meetups{% endif %}
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="https://twitter.com/PyConCZ">
            <span class="communication-item-icon"><i class="fa fa-twitter"></i></span>
            <span class="communication-item-caption">
                {% if lang == 'cs' %}PyCon CZ{% else %}PyCon CZ{% endif %}
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="https://twitter.com/PyDataPrague">
            <span class="communication-item-icon"><i class="fa fa-twitter"></i></span>
            <span class="communication-item-caption">
                {% if lang == 'cs' %}PyData Praha{% else %}PyData Prague{% endif %}
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="https://twitter.com/Pyvec">
            <span class="communication-item-icon"><i class="fa fa-twitter"></i></span>
            <span class="communication-item-caption">
                {% if lang == 'cs' %}Neziskovka Pyvec{% else %}Nonprofit Pyvec{% endif %}
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="http://pyvec.slack.com/">
            <span class="communication-item-icon"><i class="fa fa-slack"></i></span>
            <span class="communication-item-caption">
                {% if lang == 'cs' %}Organizační Slack{% else %}Slack for organizers{% endif %}
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="irc://irc.freenode.net/python-cs">
            <span class="communication-item-icon"><i class="fa fa-slack"></i></span>
            <span class="communication-item-caption">
                IRC #python-cs
            </span>
        </a>
    </li>
    <li class="communication-item">
        <a href="irc://irc.freenode.net/django-cs">
            <span class="communication-item-icon"><i class="fa fa-slack"></i></span>
            <span class="communication-item-caption">
                IRC #django-cs
            </span>
        </a>
    </li>
</ul>
