{% if lang == 'cs' %}
    {% set base_url = 'http://pyvo.cz' %}
{% else %}
    {% set base_url = 'http://pyvo.cz/en' %}
{% endif %}

<div class="row">
    <a class="meetups-city col-md-6 col-sm-6 col-xs-6" href="{{ base_url }}/praha">
        {% if lang == 'cs' %}Praha{% else %}Prague{% endif %}
    </a>
    <a class="meetups-city col-md-6 col-sm-6 col-xs-6" href="{{ base_url }}/brno">
        Brno
    </a>
    <a class="meetups-city col-md-6 col-sm-6 col-xs-6" href="{{ base_url }}/ostrava">
        Ostrava
    </a>
    <a class="meetups-city col-md-6 col-sm-6 col-xs-6" href="{{ base_url }}/olomouc">
        Olomouc
    </a>
</div>
