{% extends 'events_cs.html' %}

{% block head %}
    <title>Python in the Czech Republic: Events</title>
    <meta property="og:title" content="Python in the Czech Republic: Events">

    <meta name="description" content="{# TODO: text #}">
    <meta property="og:description" content="{# TODO: text #}">
{% endblock %}

{% block body_class %}events{% endblock %}

{% block breadcrumb %}
    Events
{% endblock %}

{% block content_h1 %}
    Events
{% endblock %}

{% block content_events_description %}
    TODO: About this page
{% endblock %}

{% block content_meetups_header %}
    Meetups
{% endblock %}

{% block content_meetups_description %}
    <a href="http://pyvo.cz/en">Python meetups</a> called “Pyvo” are happening across the country.
    <strong>You're welcome to come, or present at one!</strong>
{% endblock %}

{% block content_events_header %}List of events{% endblock %}

{% block content_ical_link %}iCal for all events{% endblock %}
