{% extends '_base.html' %}
{% block head %}
    <title>Python, programovací jazyk</title>
    <meta property="og:title" content="Python, programovací jazyk">

    <meta name="description" content="Česká (a tak trochu i slovenská) komunita kolem programovacího jazyka Python.">
    <meta property="og:description" content="Česká (a tak trochu i slovenská) komunita kolem programovacího jazyka Python.">
{% endblock %}
{% block content %}
    <div class="row logo">
        <h1 class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <img alt="Python" src="{{ url_for('static', filename='images/logo.svg') }}" onerror="this.onerror = null; this.src = '{{ url_for('static', filename='images/logo.png') }}'">
        </h1>
    </div>
    <ul class="lead">
        <li>
            Python je&nbsp;moderní <strong>programovací jazyk</strong>.
            Je <strong>univerzální</strong> &ndash; pohání weby i&nbsp;rakety.
        </li>
        <li>
            Dobře se čte a dá se velice <strong>rychle naučit</strong>.
            Je skvělý pro <strong>výuku</strong> programování.
        </li>
        <li>
            <strong>Česká komunita</strong> je aktivní.
            Najdeš v ní <strong>pomoc, kamarády i práci</strong>.
        </li>
    </ul>

    <div class="row cartoon-container">
        <img class="cartoon" alt="Česká Python komunita" src="{{ url_for('static', filename='images/czech-python-user-group.svg') }}" onerror="this.onerror = null; this.src = '{{ url_for('static', filename='images/czech-python-user-group.png') }}'">
    </div>
    <div class="row communication">
        {% include '_communication.html' %}
    </div>

    <hr>

    <div id="akce" class="row events events-index"><div class="col-md-8 col-md-offset-2">
        <h2>
            <i class="fa fa-calendar"></i>
            Nejbližší akce
        </h2>
        {% include '_events.html' with context %}
        <p class="call-to-action">
            <a href="{{ url_for('events_cs') }}" class="btn btn-primary btn-lg">
                Všechny akce
            </a>
        </p>
    </div></div>

    <hr>

    <div class="row boxes">
        <div id="blog" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-newspaper-o"></i>
                        Blog
                    </h2>
                    <p>
                        Díky blogu se <strong>dovíš o všem, co se v české Python komunitě zrovna děje</strong>. A co je nejlepší &ndash; můžeš klidně přidat svůj vlastní článek!
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="http://blog.python.cz" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Chci být v obraze!
                    </a>
                </p>
            </div>
        </div>
        <div id="zacatecnici" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-heart"></i>
                        Pro&nbsp;začátečníky
                    </h2>
                    <p>
                        Základy Pythonu se dají <strong>naučit i z prohlížeče</strong>. Máme pro tebe odkazy na výukové hry, online kurzy, videa, články, knihy a další.
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="{{ url_for('beginners_cs') }}" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Prahnu po vědění
                    </a>
                </p>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div id="prace" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-briefcase"></i>
                        Práce
                    </h2>
                    <p>
                        Jakou práci seženeš, když se naučíš Python? Kdo jej používá? Jak a kam napsat <strong>nabídku práce</strong> pro Pythonisty?
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="{{ url_for('jobs_cs') }}" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Nabízím, poptávám
                    </a>
                </p>
            </div>
        </div>

        <div class="clearfix visible-md-block"></div>

        <div id="zapojse" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-bullhorn"></i>
                        Zapoj&nbsp;se!
                    </h2>
                    <p>
                        Pomoz nám <strong>rozšířit Python</strong> mezi ostatní. Pro lenochy s penězi máme <a href="{{ config.PYVEC_ACCOUNT_URL }}">číslo účtu</a>, ale spíš oceníme, když se <strong>chopíš nějakého úkolu</strong> a dotlačíš jej do konce. Věčná sláva zaručena! Pokud chceš zorganizovat sraz či workshop ve svém městě, koukni na <a href="http://pyvec-guide.readthedocs.io">příručku pro pořadatele</a>.
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="{{ url_for('get_involved_cs') }}" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Toužím po věčné slávě
                    </a>
                </p>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div id="konference" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-comments"></i>
                        PyCon CZ
                    </h2>
                    <p>
                        Česká Python konference! Pomoz nám s přípravami, propagací, zkus si přihlásit přednášku nebo workshop, sponzoruj nás, nebo prostě jen přijď a akci si užij!
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="http://cz.pycon.org" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Hurá, konference!
                    </a>
                </p>
            </div>
        </div>
        <div id="knihovna" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-book"></i>
                        Knihovna
                    </h2>
                    <p>
                        Máme knihovničku s literaturou o Pythonu a podobných technologiích. Knihy si lze <strong>zdarma půjčit</strong> &ndash; ozvi se a přijď si knížku vyzvednout na nejbližším <a href="#srazy">srazu</a>. Mimochodem, <a href="http://pythonbooks.revolunet.com/">Python Books</a> znáš, že?
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="http://github.com/pyvec/bookshelf" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Co si můžu půjčit?
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
