{% extends '_base.html' %}
{% block head %}
    <title>Python in the Czech Republic</title>
    <meta property="og:title" content="Python in the Czech Republic">

    <meta name="description" content="Czech community around the Python programming language. User groups, jobs and other information.">
    <meta property="og:description" content="Czech community around the Python programming language. User groups, jobs and other information.">
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="row">
            <h1 class="col-md-6 col-md-offset-3">
                <img alt="Python" src="{{ url_for('static', filename='images/logo.svg') }}" onerror="this.onerror = null; this.src = '{{ url_for('static', filename='images/logo.png') }}'">
            </h1>
        </div>
        <ul class="lead">
            <li>
                Python is a modern programming language. See <a href="https://www.python.org/">python.org</a> for details.
            </li>
            <li>
                The Czech Python community is <strong>active and friendly</strong>.
            </li>
            <li>
                Come and <strong>join us</strong> at meetups and workshops in several cities!
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="photo-container meetups-container">
            <img class="photo" src="{{ photo_url }}">

            <div class="row">
                <div class="col-md-6 col-md-offset-3 meetups" id="meetups">
                    <h2>Meetups (Pyvo)</h2>
                    <p>
                        <a href="http://pyvo.cz">Python meetups</a> (called “Pyvo”) are happening across the country. <strong>You're welcome to come, or present at one!</strong>
                    </p>
                    <div class="row">
                        {% include '_meetups.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row boxes">
        <div id="discussions" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <ul class="list-group">
                    {% include '_discussions.html' %}
                </ul>
            </div>
        </div>
        <div id="jobs" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <h2>
                    <i class="fa fa-briefcase"></i>
                    Jobs
                </h2>
                <p>
                    How can you address Czech software engineers working in Python with your <strong>job offer</strong>? Why is it <strong>worth the effort</strong>?
                </p>
                <p class="call-to-action">
                    <a href="{{ url_for('jobs_en') }}" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Let me hunt some heads!
                    </a>
                </p>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div id="ladies" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <h2>
                    <i class="fa fa-heart"></i>
                    For&nbsp;ladies
                </h2>
                <p>
                    We actively support events for ladies in multiple Czech cities.
                </p>
                <ul>
                    <li><a href="http://pyladies.cz">PyLadies, regular meetups</a></li>
                    <li><a href="http://djangogirls.org/events/">DjangoGirls, one-day workshops</a></li>
                </ul>
            </div>
        </div>

        <div class="clearfix visible-md-block"></div>

        <div id="conferences" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <h2>
                    <i class="fa fa-comments"></i>
                    PyCon CZ 2015
                </h2>
                <p>
                    We are in process of preparing the very first Czech <strong>conference about Python</strong>, <a href="http://cz.pycon.org">PyCon&nbsp;CZ</a>. It is expected to take place during autumn 2015. Contact us in case you would like to help us with <strong>funding</strong> or whether you're interested in <strong>giving a talk</strong>.
                </p>
                <p class="call-to-action">
                    <a href="https://github.com/pyvec/cz.pycon.org-2015" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Sure! I want to know more!
                    </a>
                </p>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div id="library" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <h2>
                    <i class="fa fa-book"></i>
                    Library
                </h2>
                <p>
                    We have a library of Python-related books. If you want to borrow one, let us know, and come to the nearest <a href="#meetups">Pyvo meetup</a> to pick the book up. By the way, you already know <a href="http://pythonbooks.revolunet.com/">Python Books</a>, right?
                </p>
                <p class="call-to-action">
                    <a href="http://github.com/pyvec/bookshelf" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        What can I borrow?
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
