{% extends '_base.html' %}
{% block head %}
    <title>Python in the Czech Republic</title>
    <meta property="og:title" content="Python in the Czech Republic">

    <meta name="description" content="Czech community around the Python programming language. User groups, jobs and other information.">
    <meta property="og:description" content="Czech community around the Python programming language. User groups, jobs and other information.">
{% endblock %}
{% block content %}
    <div class="row logo">
        <h1 class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <img alt="Python" src="{{ url_for('static', filename='images/logo.svg') }}" onerror="this.onerror = null; this.src = '{{ url_for('static', filename='images/logo.png') }}'">
        </h1>
    </div>
    <ul class="lead">
        <li>
            Python is a modern programming language. See <a href="https://www.python.org/">python.org</a> for details.
        </li>
        <li>
            The Czech Python community is <strong>active and friendly</strong>.
        </li>
        <li>
            Come and <strong>join us</strong> at meetups and workshops in several cities!
        </li>
    </ul>

    <div class="row cartoon-container">
        <img class="cartoon" alt="Czech Python User Group" src="{{ url_for('static', filename='images/czech-python-user-group.svg') }}" onerror="this.onerror = null; this.src = '{{ url_for('static', filename='images/czech-python-user-group.png') }}'">
    </div>
    <div class="row communication">
        {% include '_communication.html' %}
    </div>

    <div class="row" id="meetups">
        <div class="photo-container meetups-container">
            <div class="photo-collection">
                {% for photo_url in photo_urls %}
                    <img class="photo" src="{{ photo_url }}">
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 meetups">
                    <h2>Events</h2>
                    <p>
                        TODO: About events
                    </p>

                    <p class="call-to-action">
                        <a href="{{ url_for('events_en') }}" class="btn btn-primary">
                            See all events
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr class="visible-sm-block visible-xs-block">

    <div class="row boxes">
        <div id="jobs" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-briefcase"></i>
                        Jobs
                    </h2>
                    <p>
                        How can you address Czech software engineers working in Python with your <strong>job offer</strong>? Why is it <strong>worth the effort</strong>?
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="{{ url_for('jobs_en') }}" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Let me hunt some heads!
                    </a>
                </p>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div id="ladies" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-heart"></i>
                        For&nbsp;Ladies
                    </h2>
                    <p>
                        There are events for ladies in multiple Czech cities.
                    </p>
                    <ul>
                        <li>
                            <a href="http://pyladies.cz">PyLadies, beginner courses and regular meetups</a>
                        </li>
                        <li>
                            <a href="http://djangogirls.org/events/">DjangoGirls, one-day workshops</a>
                            (<a href="http://www.djangogirls.org/prague/">Prague</a>, <a href="http://www.djangogirls.org/brno/">Brno</a>)
                        </li>
                    </ul>
                </div>
                <p class="call-to-action">
                    <a href="mailto:info&#64;pyvec.org?subject={{ 'I would like to get involved in Czech events for ladies'|urlencode }}" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        I want to get involved
                    </a>
                </p>
            </div>
        </div>

        <div class="clearfix visible-md-block"></div>

        <div id="conferences" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-comments"></i>
                        PyCon CZ
                    </h2>
                    <p>
                        Czech Python conference! Help us with preparations, spread the word, register a talk or workshop, consider sponsorship, or just come and enjoy the event!
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="https://cz.pycon.org/" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        Let me be your speaker!
                    </a>
                </p>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div id="library" class="box col-md-4 col-sm-6">
            <div class="box-body">
                <div class="box-content">
                    <h2>
                        <i class="fa fa-book"></i>
                        Library
                    </h2>
                    <p>
                        We have a library of Python-related books. If you want to borrow one, let us know, and come to the nearest <a href="#meetups">Pyvo meetup</a> to pick the book up. By the way, you already know <a href="http://pythonbooks.revolunet.com/">Python Books</a>, right?
                    </p>
                </div>
                <p class="call-to-action">
                    <a href="http://github.com/pyvec/bookshelf" class="btn btn-primary">
                        <i class="fa fa-arrow-right"></i>
                        What can I borrow?
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='photos.js') }}"></script>
{% endblock %}
