{% extends '_base.html' %}
{% block head %}
    <title>Python in the Czech Republic: Jobs</title>
    <meta property="og:title" content="Python in the Czech Republic: Jobs">

    <meta name="description" content="Who uses Python in the Czech Republic? How to find Czech Python software engineers?">
    <meta property="og:description" content="Who uses Python in the Czech Republic? How to find Czech Python software engineers?">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
{% endblock %}

{% block body_class %}jobs{% endblock %}

{% block breadcrumb %}
    Jobs
{% endblock %}

{% block content %}
    <h1>Python Jobs</h1>

    <h2 id="who">Who uses Python in the Czech Republic?</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 thumbnail">
            <div id="map" data-src="{{ url_for('static', filename='data/business.geojson') }}"></div>
        </div>
    </div>

    <div class="columns columns-many">
        <h3>
            <i class="fa fa-users"></i>
            Companies, institutions
        </h3>
        <ul>
        {% for company in data.business_groups.companies %}
            <li>
                <a href="{{ company.url }}" target="_blank">
                    {{ company.name }}
                </a>
            </li>
        {% endfor %}
        </ul>

        <h3>
            <i class="fa fa-user"></i>
            Individuals
        </h3>
        <ul>
        {% for individual in data.business_groups.individuals %}
            <li>
                <a href="{{ individual.url }}" target="_blank">
                    {{ individual.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <p class="call-to-action">
        <a href="{{ config.BUSINESS_LIST_URL }}" class="btn btn-primary btn-lg">
            <i class="fa fa-edit"></i>
            I want to be on the list
        </a>
    </p>

    <hr>

    <h2 id="offer">How to find Czech Python software engineers?</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul>
                <li>
                    Attend a <a href="{{ url_for('index_en') }}#meetups">meetup</a> and ask around. Speak to real people, get them hooked for your ideas, learn about their options and requirements.
                </li>
                <li>
                    Write down a job offer. <strong>Honest story instead of boring bullet points</strong> will bring you larger audience. <strong>Don't forget to mention how much is it possible to work remotely.</strong>
                </li>
                <li>
                    Send the offer to django-cs and py.cz discussions (see <a href="{{ url_for('index_en') }}#communication">homepage</a>) and to the <a href="https://www.facebook.com/groups/pyonieri/">Facebook group</a>. Many Czech Pythonistas are subscribed to them.
                </li>
                <li>
                    Please do not overuse any of the discussions. Job offers are welcome, they're free and without limitations, but if it starts to be annoying, it doesn't have to be without regulation forever.
                </li>
                <li>
                    Post the offer to <a href="https://www.python.org/community/jobs/howto/">global job board</a> &ndash; the board is free, only registration is needed. The offer then appears also on <a href="https://twitter.com/pyjobo">@pyjobo</a> Twitter account. Advertise also at Czech job boards: {% for link in data.job_boards %}<a href="{{ link.url }}" target="_blank">{{ link.name }}</a>, {% endfor %}&hellip;
                </li>
            </ul>
        </div>
    </div>

    <h2 id="more">I wish more Czech Pythonistas would exist!</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                We too and it's also the main goal of <a href="http://pyvec.org/">Pyvec</a>, our nonprofit. Pyvec is dedicated to support all sorts of activities focused on introducing more people to Python in the Czech Republic. Pyvec also supports local chapters of <a href="http://pyladies.cz">PyLadies</a> and <a href="http://djangogirls.org">DjangoGirls</a>. If you wish to sponsor our activities, please drop an e-mail to <a
            href="mailto:info&#64;pyvec.org">info&#64;<!---->pyvec.org</a>.
            </p>
        </div>
    </div>

    <div class="row cartoon-container">
        <img class="cartoon" src="{{ url_for('static', filename='images/jobs.svg') }}" onerror="this.onerror = null; this.src = '{{ url_for('static', filename='images/jobs.png') }}'">
    </div>

    {% block scripts %}
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <script src="{{ url_for('static', filename='maps.js') }}"></script>
    {% endblock %}
{% endblock %}
