<meta charset="utf-8">

<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ url }}">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arbutus+Slab&amp;subset=latin,latin-ext">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
