<!doctype html>
<html lang="en">
<head>
    {% include 'fragments/head.html' %}

    <title>Python in the Czech Republic</title>
    <meta property="og:title" content="Python in the Czech Republic">

    <meta name="description" content="Czech community around the Python programming language.">
    <meta property="og:description" content="Czech community around the Python programming language.">
</head>
    <body>
        {% include 'fragments/ga.html' %}

        <h1>Python</h1>
        <ul>
            <li>Python is a modern programming language. See <a href="https://www.python.org/">python.org</a> for details.</li>
            <li>The Czech Python community is <strong>active and friendly</strong>.</li>
            <li>Come and <strong>join us</strong> at meetups and workshops in several cities!</li>
        </ul>
        <p>
            <a href="{{ url_for('index') }}">Umíš česky?</a>
        </p>

        <hr>

        <ul>
            <li>
                <a href="#meetups">Meetups (Pyvo)</a>
            </li>
            <li>
                <a href="#discussions">Discussions and&nbsp;socializing</a>
            </li>
            <li>
                <a href="#conferences">PyCon CZ</a>
            </li>
            <li>
                <a href="#ladies">Ladies</a>
            </li>
            <li>
                <a href="#jobs">Jobs</a>
            </li>
        </ul>

        <hr>

        <div id="meetups">
            <h2>Meetups (Pyvo)</h2>
            <p>
                Python meetups (called “Pyvo”) are happening across the country.
                You're welcome to come, or present at one!
            </p>

            <!-- mapa s odkazy na jednotlivá pyva -->

            <noscript>
                <!-- alt. odkazy na pyva -->
            </noscript>
        </div>

        <div id="discussions">
            <h2>Discussions and&nbsp;socializing</h2>
            <ul>
                <li><a href="https://groups.google.com/group/django-cs/">django-cs discussion</a></li>
                <li><a href="http://www.py.cz/mailman/listinfo/python">py.cz discussion</a></li>
                <li><a href="https://www.facebook.com/groups/pyonieri/">Facebook group</a></li>
                <li><a href="https://twitter.com/naPyvo">@naPyvo Twitter</a></li>
                <li><a href="irc://irc.freenode.net/python-cs">IRC python-cs</a></li>
                <li><a href="irc://irc.freenode.net/django-cs">IRC django-cs</a></li>
            </ul>
        </div>

        <div id="conferences">
            <h2>PyCon CZ</h2>
            <p>
                We are in process of preparing the very first Czech conference about Python, <a href="http://cz.pycon.org">PyCon&nbsp;CZ</a>. It is expected to take place during autumn 2015. Contact us in case you would like to help us with preparations or whether you're interested in attending and/or giving a talk.
            </p>
            <a href="https://github.com/pyvec/cz.pycon.org-2015" class="btn btn-primary">
                Sure! I want to know more!
            </a>
        </div>

        <div id="ladies">
            <h2>For&nbsp;ladies</h2>
            <ul>
                <li><a href="http://pyladies.cz">PyLadies, regular meetups</a></li>
                <li><a href="http://djangogirls.org/events/">DjangoGirls, one-day workshops</a></li>
            </ul>
        </div>

        <div id="jobs">
            <h2>Jobs</h2>
            <p>
                How can you address Czech software engineers working in Python with your job offer? Why is it worth the effort?
            </p>
            <p>
                <a href="{{ url_for('jobs_en') }}" class="btn btn-primary">
                    Let me hunt some heads!
                </a>
            </p>
        </div>

        <hr>

        {% include 'fragments/footer-en.html' %}
    </body>
</html>
