
body {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.container {
    margin: 0 auto;
    text-align: left;
}

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

h1,
h2,
h3,
h4,
.title,
.tasks .panel-body {
    font-family: 'Arbutus Slab', serif;
}

a.permalink {
    visibility: hidden;
    font-family: sans-serif;
    margin-left: 0.1em;
    padding: 0 0.3em;
    text-decoration: none;
    color: #d5d5d5;
}

h1[id]:hover .permalink,
h2[id]:hover .permalink,
h3[id]:hover .permalink,
h4[id]:hover .permalink,
h5[id]:hover .permalink,
h6[id]:hover .permalink {
    visibility: visible;
}

.header {
    padding-bottom: 1.5em;
}

.header .title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2em;
    font-size: 1.5em;
}

.header .title a {
    text-decoration: none;
    color: #646464;
}

.header .title img {
    vertical-align: text-top;
    margin-right: 0.1em;
}

.jumbotron {
    text-align: center;
    background: none;
    padding-top: 0;
}

.jumbotron h1 img {
    width: 100%;
}

.jumbotron .lead {
    list-style-type: none;
    padding: 0;
    margin-top: 2.5em;
}

.box-body {
    min-height: 18em;
    padding: 1em 0;
}

.box h2 {
    margin-top: 0;
}

.boxes {
    margin: 2em 0;
}

.call-to-action {
    text-align: right;
}

.call-to-action .btn {
    margin: 1em 0.5em 0 auto;
}

.list-group {
    margin: 0;
}

.list-group .list-group-item {
    border: none;
}

i.fa {
    margin-right: 0.3em;
}

h2 i.fa {
    margin-right: 0.1em;
}

.footer {
    margin-top: 2em;
    padding: 2em 1em;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    line-height: 2em;
}

.footer .edit {
    text-align: right;
}

.footer .edit a {
    text-align: left;
}

.meetups-city {
    font-weight: bold;
}

.meetups-city img {
    display: block;
    margin: 1em auto;
}

.meetups {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.meetups p {
    margin: 2em 0;
}

.meetups-container {
    margin-bottom: 2em;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}

.columns-section {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.photo {
    width: 100%;
    position: absolute;
    z-index: -100;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.photo-container {
    position: relative;
    overflow: hidden;
    min-height: 32em;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.6) 5%,
        rgba(255, 255, 255, 0.6) 95%,
        rgba(255, 255, 255, 1) 100%
    );
}

.help {
    cursor: help;
}

i.fa.help {
    margin-left: 0.3em;
}

.tasks h3 {
    text-align: center;
    margin: 2em 0 2em 0;
}

.tasks .panel-body {
    text-align: center;
    font-size: 110%;
}

.tasks .panel-body a {
    color: #333;
    height: 5em;
    width: 100%;
    display: table;
}

.tasks .panel-body a span,
.tasks .panel-body a strong {
    display: table-cell;
    vertical-align: middle;
}

.tasks .panel-footer {
    text-align: right;
}

.tasks .votes {
    margin-right: 1em;
}


@media only screen and (max-width: 992px) {
  .jumbotron,
  .meetups {
      border-bottom: 1px solid #e5e5e5;
  }

  .meetups {
      padding-bottom: 2em;
  }

  .boxes {
      margin: 0;
  }

  .photo {
      display: none;
  }

  .photo-container {
      min-height: auto;
      background: none;
  }
}
