name: Main
on:
  push:
  pull_request:
  schedule:
    - cron: "0 4 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pipenv
        pipenv install --dev
    - name: Test
      run: pipenv run test
    - if: ${{ github.event_name == 'pull_request' }}
      name: Build without fetching GitHub Issues
      run: |
        export DISABLE_GITHUB_ISSUES_FETCH=true
        pipenv run build
    - if: ${{ github.event_name != 'pull_request' }}
      name: Build with fetching GitHub Issues
      run: pipenv run build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - if: ${{ github.ref == 'refs/heads/master' }}
      name: Deploy
      run: pipenv run deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
